version: 2.1

jobs:
  test:
    docker:
      - image: cimg/rust:1.56
    steps:
      - checkout
      - run:
          name: Calculate dependencies
          command: cargo generate-lockfile
      - restore_cache:
          keys:
            - v4-cargo-cache-{{ arch }}-{{ checksum "Cargo.lock" }}
      - run:
          name: Check formatting
          command: cargo fmt -- --check
      - run:
          name: Build all targets
          command: cargo build --all --all-targets
      - save_cache:
          paths:
            - /usr/local/cargo/registry
            - target/debug/.fingerprint
            - target/debug/build
            - target/debug/deps
          key: v4-cargo-cache-{{ arch }}-{{ checksum "Cargo.lock" }}
      - run:
          name: Run all tests
          command: cargo test --all
      - run:
          name: Check packaging
          command: cargo publish --dry-run
  deploy:
    docker:
      - image: cimg/rust:1.56
    steps:
      - checkout
      - run:
          name: login to crates.io
          command: cargo login $CRATEIO_TOKEN
      - run:
          name: publish package
          command: cargo publish


workflows:
  version: 2
  build_test_deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: release

